body{
	color: white;
	background: rgb(172,222,149);
	background: linear-gradient(90deg, rgba(172,222,149,1) 0%, rgba(124,240,236,1) 50%, rgba(0,146,255,1) 100%);
}
#title{
	color: white;
}
.allUser{
	margin-top: 2%;
}
#panel{
	display: none;
}

.viewBtn{
	color: red;
}